<!-- views/partials/footer.ejs -->
<div class="footer-top">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
      <div class="widget">
        <h4 class="widget-title">Flowers & Love</h4>
        <address>555 Kishon Road<br>Israel, DL 110013</address>
        <div class="social-list">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <p class="copyright clear-float">
          © Flowers Theme. All Rights Reserved
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade & us ;)</a>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>