<div class="bg-color-header">
  <div class="container">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <li id="li_flowers" class="navLi"><a href="#" onclick="displayFlowers()" style="color:white">Flowers</a></li>
      <li id="li_branches" class="navLi"><a href="#" onclick="displayBranches()" style="color:white">Branches</a></li>
      <li id="li_users" class="navLi"><a href="#" onclick="displayUsers()" style="color:white">Users</a></li>
      <li id="li_users_worker" class="navLi"><a href="#" onclick="displayUsersWorker()" style="color:white">Users</a></li>
      <li id="li_home" class="navLi"><a href="#" onclick="displayAbout(position)" style="color:white">About</a></li>
      <li id="li_contact" class="navLi"><a href="#" onclick="displayContact()" style="color:white">Contact</a></li>
    </div>
    <div  id='position'><%= position %></title>

    <span onclick="openNav()" class="pull-right menu-icon">☰</span>
    <img src="images/favicon.ico" width="42" height="42" />

    <button id="loginButton" class="loginLogoutButton" type="button" onclick="openLoginModal()">
      Login</button>
      <button id="logoutButton" class="loginLogoutButton" type="button" onclick="Logout()">
        Logout</button>
  </div>

</div>
<script>
  document.getElementById("position").display='block';
  loadNavigation('');
  function openLoginModal() {
      document.getElementById('myModal').style.display = 'block';
    // else {
    //   window.location.hash = '';
    //   $('#myBody').load('logoutBody')
    //   $('#header').load('headerLogout')
    // }
  }

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  };

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  };

  $(document).ready(function () {
    // Set trigger and container variables
    var trigger = $('#mySidenav a'),
      container = $('#myBody');
    render(window.location.hash);

    // Fire on click
    trigger.on('click', function (event) {

      // event.preventDefault();
      // Set $this for re-use. Set target from data attribute
      var $this = $(this),
        target = $this.data('target');
      console.log(target);
      console.log(location.href);
      if (target !== undefined) {
        // Load target page into container
        container.load(target + '.ejs');
        // Stop normal link behavior
        window.location.hash = target;
        closeNav();

      }


      return false;
    });
  });

  // event listener
  window.onhashchange = function () {
    render(window.location.hash);
  };

  async function render(hashKey) {
    // refresh(position);
    // console.log(hashKey.substr(1));
    console.log(hashKey + "load");
    container = $('#myBody');
    // console.log(hashKey);
    switch (hashKey) {
      case "":
        displayAbout(position);
        break;
      case "#about":
        displayAbout(position);
        break;
      case "#branches":
        displayBranches();
        break;
      case "#contact":
        displayContact();
        break;
      case "#flowers": {
        displayFlowers();
        break;
      }
      case "#users_worker":
        displayUsersWorker();
        break;
      case "#users":
        displayUsers();
        break;
      default:
        displayAbout(position);
    }
  }
</script>
</div>