<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center marb-35">
        <h1 class="header-h">Flowers & Love</h1>
        <p class="header-p">The best flowers for the ones you love the most.
          <br>Founded by Naomi and Hodaya in Israel 2020 due to the corona virus. </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-md-6 col-sm-6">
          <div class="about-info">
            <h2 class="heading">About us</h2>
            <p>We believe that flowers shows love, care and hope in times like this.Our company has been selling flower products for many years
              Florists of our online flower shop will create for you a stunning bouquet<br/>We deliver the freshest flowers in Cyprus for 2 hours at home and in the office
              Buying a bouquet or a composition we made for you the most simple and convenient: You can order in the catalog online or by phone. The bouquet will be executed by our florists exactly the same as it is presented in the photo, or it will be collected individually, in accordance with your personal wishes. High quality bouquets to order can confirm thousands of our customers.</p>
            <div class="details-list">
              <ul>
                <li><i class="fa fa-check"></i>High quality flowers</li>
                <li><i class="fa fa-check"></i>Many kinds of wines and chocolates</li>
                <li><i class="fa fa-check"></i>The best and kindest service </li>
                <li><i class="fa fa-check"></i>The best price!</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <img src="images/flower_1.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>