<div class="modal" id="addFlower" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"  role="document">

            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    onclick="document.getElementById('addFlower').style.display='none'">&times;</button>
                <h3 class="modal-title">Add new flowers</h3>
            </div>
            <!-- body (form) -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Flower Name" id="flower-name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Color" id="color">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Your image </label>
                        <input type="file" class="form-control-file" id="image"  placeholder="Photo" required="">
                      </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Price" id="price">
                    </div>
                </form>
            </div>
           
            <!-- button -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-block"id=add_btn onclick="add_flower()">Add</button>
            </div>

        </div>
    </div>
</div>
<script>
  
    async function add_flower() {
    let isFlowerNameExist=false;
    const flower = new URLSearchParams();
    let response = await fetch("/flowers/all-flowers", {
         method: 'post',
      });
    let flowers = await response.json();
    flowers.data.forEach(function (flower) {
    if(flower.name == $('#name').val())
         isFlowerNameExist = true;
     });
if(isFlowerNameExist){
    alert('flower is already exist!');
} else {
    console.log($("#image").get(0).files[0]);
    flower.append('fname', $('#flower-name').val());
    flower.append('color',  $('#color').val());
    flower.append('price', $('#price').val());
    flower.append('image', $("#image").val());
   // console.log(user.get("userName"));

}
if ($('#flower-name').val() == '' || $('#color').val() == '' || $("#image").get(0).files[0] == '' || $('#price').val() == '') {
        alert('fill all fields');
    } else {
        {
            try {
            let response = await fetch("/flowers/add", {
                method: 'post',
                body: flower
            });
            let res = await response.json()
            if (response.status === 200) {
              document.getElementById('addFlower').style.display='none';
            }
        }
        catch (error) { console.error('Error' + error); }
        } 
    }
}

</script>