<div class="modal" id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"  role="document">

            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    onclick="document.getElementById('addModal').style.display='none'">&times;</button>
                <h3 class="modal-title">Add new user</h3>
            </div>
            <!-- body (form) -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Name" id="user">
                    </div>
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Position</label>
                        <select class="custom-select mr-sm-2" id="positionSelect">
                            <option selected></option>
                            <option id='client' value="client">client</option>
                            <option id='worker' value="worker">worker</option>
                            <option id='manager' value="manager">manager</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Your image </label>
                        <input type="file" class="form-control-file" id="image"  placeholder="Photo" required="">
                      </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name" id="first">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" id="last">
                    </div>
                </form>
            </div>
           
            <!-- button -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-block"id=add_btn onclick="add_user()">Add</button>
            </div>

        </div>
    </div>
</div>
<script>
    var c= getCookie();
    if(c === 'worker')
    {
        document.getElementById('worker').hidden=true;
        document.getElementById('manager').hidden=true;
    }
    async function add_user() {
    let isUserNameExist=false;
    const user = new URLSearchParams();
    let response = await fetch("/users/all-users", {
         method: 'post',
      });
    let users = await response.json();
     users.data.forEach(function (user) {
    if(user.username == $('#user').val())
        isUserNameExist = true;
     });
if(isUserNameExist){
    alert('username is already exist!');
} else {
    console.log($("#image").get(0).files[0]);
    user.append('userName', $('#user').val());
    user.append('position',  $('#positionSelect').val());
    user.append('password', $('#password').val());
    user.append('image', $("#image").val());
    user.append('firstName', $('#first').val());
    user.append('lastName', $('#last').val());
    user.append("status", true);
   // console.log(user.get("userName"));

}
if ($('#user').val() == '' || $('#positionSelect').val() == 'Chose option' || $('#password').val() == '' || $("#image").get(0).files[0] == '' || $('#first').val() == '' || $('#last').val() == '') {
        alert('fill all fields');
    } else 
    
        {
            try {
            let response = await fetch("/users/add", {
                method: 'post',
                body: user
            });
          //  let res = await response.json()
            if (response.status === 200) {
            document.getElementById('addModal').style.display='none';
            }
        }
        catch (error) { console.error('Error' + error); }
        } 
    
}

</script>