<section id="branches" class="section-padding">
  <div class="row">
          <div class="col-md-12 text-center">
            <h1  class="header-h">Branches</h1>
            <p class="header-p">Flowers&Love has 3 active branches . </p>
            <p class="header-p">from those branches we can ship to anywhere you'd like . </p>
          </div>
        </div>
<div id="branchlist">
<% branches.forEach(branch => { %> 
  <%- include('branch',{branch:branch}); %>
<%});%>
</div>

</section>
