<div class="column">
   
    <div>
        <h3><a href="#"><%=branch.name%></a></h3>
        <div> Location: <%=branch.address%></div>
        <div> Telephon: <%=branch.phone%></div>
        <div> branch active: <%=branch.active%></div>
        
    </div>
    <div>
        <figure>
            <img src="<%= branch.image %>" class="img-fluid" alt="">
        </figure>

    </div>
</div>