<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-h">Order a bouquet</h1>
        <p class="header-p">Just choose the kind of flowers you loved,
          <br> we'll take care of the rest. </p>
      </div>
    </div>
    <div class="row msg-row">
      <div class="col-md-4 col-sm-4 mr-15">
        <div class="media-2">
          <div class="media-left">
            <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
          </div>
          <div class="media-body">
            <h4 class="dark-blue regular">Phone Numbers</h4>
            <p class="light-blue regular alt-p">Hodaya: +792 545866441  <span class="contacts-sp"></span></p>
            <p class="light-blue regular alt-p">Naomi: +792 586276596  </p>
          </div>
        </div>
        <div class="media-2">
          <div class="media-left">
            <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
          </div>
          <div class="media-body">
            <h4 class="dark-blue regular">Opening Hours</h4>
            <p class="light-blue regular alt-p"> Monday to Friday 09.00 - 18:00</p>
            <p class="light-blue regular alt-p">
              Friday and Sunday 08:00 - 13.00
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <form action="" method="post" id="contactForm" role="form" class="contactForm">
          <div id="sendmessage">Your request has been sent.<br/> Thank you!</div>
          <div id="errormessage"></div>
          <div class="col-md-6 col-sm-6 contact-form pad-form">
            <div class="form-group label-floating is-empty">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>

          </div>
          <div class="col-md-6 col-sm-6 contact-form">
            <div class="form-group">
              <input type="date" class="form-control label-floating is-empty" name="date" id="date" placeholder="Date" data-rule="required" data-msg="This field is required" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 contact-form pad-form">
            <div class="form-group">
              <input type="email" class="form-control label-floating is-empty" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 contact-form">
            <div class="form-group">
              <!--input type="time" class="form-control label-floating is-empty" name="kind" id="kind" placeholder="Time" data-rule="required" data-msg="This field is required" /-->
              <select name="kind" id="kind">
                <option value="Sunflower">Sunflower</option>
               <option value="Rose">Rose</option>
               <option value="Windflower">Windflower</option>
               <option value="Orchids">Orchids</option>
               <option value="Lotus">Lotus</option>
               <option value="Lavender">Lavender</option>
               <option value="Jasmine">Jasmine</option>
              </select>
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 contact-form">
            <div class="form-group">
              <input type="text" class="form-control label-floating is-empty" name="phone" id="phone" placeholder="Phone" data-rule="required" data-msg="This field is required" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 contact-form">
            <div class="form-group">
              <input type="text" class="form-control label-floating is-empty" name="people" id="people" placeholder="To" data-rule="required" data-msg="This field is required" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="col-md-12 contact-form">
            <div class="form-group label-floating is-empty">
              <textarea class="form-control" name="message" id="message" rows="5" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>

          </div>
          <div class="col-md-12 btnpad">
            <div class="contacts-btn-pad">
              <button onclick="orderOn()" class="contacts-btn" type="button">Order now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  function orderOn()
  {
    document.getElementById("contactForm").reset();
  

  }
</script>