

<section id="portfolio" class="section-bg">
  <div class="container">
    <% include add_flower %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-h">Flowers</h1>
        <p class="header-p">All the flowers that you can order. </p>
      </div>
      <div>
      <button id="addFlowerBotton" class="loginLogoutButton" type="button" onclick="addNewFlower()">
        Add
      </button>
      </div>
    </div>
    <div class="row portfolio-container">
      <% flowers.forEach(flower => { %>
      <%- include('flower',{flower:flower}); %>
      <%});%>
    </div>

  </div>
</section>
<script>
  var c= getCookie();
  if(c !== 'worker')
  {
      document.getElementById('addFlowerBotton').hidden=true;
  }
  function addNewFlower() {
    console.log("here!!!!");
    //container.load('addModal.ejs');

    document.getElementById('addFlower').style.display = 'block';
  }
</script>