<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
  <div class="portfolio-wrap">
    <h4><a href="#"><%=flower.name%></a></h4>
    <figure>
      <img src="<%= flower.image%>" width="100%" height="100%" alt="">
    </figure>

    <div class="portfolio-info">
      <p>color: <%=flower.color%> </p>
      <p>price: <%=flower.price%>$ </p>
    </div>
  </div>
</div>