<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!---- scripts--->
  <script src="/javascripts/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/login.js"></script>
  <script src="/javascripts/usersOptions.js"></script>
  <script src="/javascripts/main.js"></script>
</head>
<body>
  <!-- <div id='position'><%= position %></title> -->
  <header id="header">
    <!-- <script>include('partials/header',{position :document.getElementById('position').textContent})</script> -->

    <%- include('partials/header'); %>
  </header>
   <!-- main -->
  <main class="container">
    <% include login_modal %>
<div id="container"/>
    <div id="myBody">
      <%
      if (aboutPage === "yes") { %>
        <% include about %>
      <% } %>
    </div>

  </main>
  <!-- footer -->
  <footer class="footer text-center">
    <% include partials/footer %>
  </footer>
<!--<script src="js/jquery.min.js"></script>-->
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/custom.js"></script>-->
<script src="contactform/contactform.js"></script>
<script>
  function getCookie()
  {
    //TODO
    var parts=document.cookie.split("%");
    //.indexOf("%");

    console.log( "cookie:     " + parts[1]);
    return parts[1];
  }


  function saveToCookie( user_name , position) 
    {
        var expire = new Date();
        expire.setTime((new Date()).getTime() + 60*60*100*24*100);
        document.cookie = "userData="+ user_name + "%" + position + ";" + "expires=" + expire.toGMTString() ;
    }
</script>
</body>

</html>