<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    onclick="document.getElementById('myModal').style.display='none'">&times;</button>
                <h3 class="modal-title">Log In</h3>
            </div>
            <!-- body (form) -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Name" id="name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" id="password">
                    </div>
                </form>
            </div>
            <!-- button -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-block" onclick="check_user()">Login</button>
            </div>

        </div>
    </div>
</div>