<div class="modal" id="updateWorker" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"  role="document">
            
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    onclick="document.getElementById('updateWorker').style.display='none'">&times;</button>
                <h3 class="modal-title">Update new user</h3>
            </div>
           
            <!-- body (form) -->
            <div id="modal-body" class="modal-body">
            
                <!--add dynamic-->

            </div>
           
            <!-- button -->
            <div class="modal-footer">
                <button class="btn btn-primary btn-block" id=update_btn  onclick="update_user()">Update</button>
            </div>

        </div>
    </div>
</div>
<script>
     async function update_user(someone) {
        
        let user_name = (document.getElementById('user1').value);
        let user_select = (document.getElementById('positionSelect1').value).trim();
        let user_password = (document.getElementById('password1').value).trim();
        let user_first = (document.getElementById('first1').value);
        let user_last = (document.getElementById('last1').value);
        let user_status=(document.getElementById('Status1').checked);
        let user_image=(document.getElementById('image1').value);
        console.log(user_name+'/n'+user_select+'/n'+user_password+'/n'+user_first+'/n'+user_last+'/n'+user_status);

        const params = new URLSearchParams();
        params.append('username', user_name);
        params.append('position', user_select);
        params.append('password', user_password);
        params.append('firstName', user_first);
        params.append('lastName', user_last);
        params.append('image', user_image);
        params.append('status', user_status);

        if ($('#user1').val() == '' || $('#positionSelect1').val() == '' || $('#password1').val() == '' || $("#image1") == '' || $('#first1').val() == '' || $('#last1').val() == '') {
             alert('all fields required');}
        else{
        try {
            let response = await fetch("/users/updateUser", {
                method: 'post',
                body: params
            });
            let users_data = await response.json();
            if (response.status === 200) {
                document.getElementById('updateWorker').style.display='none';
            }

        } catch (error) { console.error('Error' + error); }
      }
    }


    
    function updateModelSelectedUser(userInfo) {
        
        let modelText = `<form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled="disabled" placeholder="User Name" id="user1" value="#USER_NAME#">
                    </div>
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Position</label>
                        <select class="custom-select mr-sm-2" id="positionSelect1" >
                          <option selected></option>
                          <option id='client' class='client' value="client">client</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Password" id="password1" value="#PASSWORD#">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1"> </label>
                        <input type="text" class="form-control-file" id="image1" disabled="disabled" placeholder="Photo" required="" value="#IMAGE#">
                      </div>
                    <div class="form-group">
                        <input id="first1" type="text" class="form-control" value="#FIRST_NAME#" placeholder="first Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name"  value="#LAST_NAME#" id="last1">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="exampleCheck1">Is active</label>
                        <input type="checkbox" class="form-check-input" id="Status1" checked="#STATUS#">
                    </div>
                </form>`;
         
        
        modelText = modelText.replace("#USER_NAME#", userInfo.userName);
        modelText = modelText.replace("#FIRST_NAME#", userInfo.firstName);
        modelText = modelText.replace("#LAST_NAME#", userInfo.lastName);
        modelText = modelText.replace("#PASSWORD#", userInfo.password);
        modelText = modelText.replace("#POSITION#", userInfo.position);
        modelText = modelText.replace("#STATUS#", userInfo.status);
        modelText = modelText.replace("#IMAGE#", userInfo.image);
       //console.log( userInfo.password);
        document.getElementById('modal-body').innerHTML = modelText;        // console.log(document.querySelector('modal').innerHTML);
    }
</script>