<section id="portfolio" class="section-bg">
  <div class="container">
    
    <% include add_modal %>
    <% include update_worker %>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-h">Users</h1>
        <p class="header-p">those are the users in this website.
          <br>if you are a worker you can see clients only.
        </p>
      </div>
    </div>
    <div>
      <button id="addButton" class="loginLogoutButton" type="button" onclick="addNewUser()">
        Add
      </button>
      <br><br>
      <button id="RefreshButton" class="loginLogoutButton" type="button" onclick="onRefreshClick()
    ">
        Refresh
      </button>
      <br><br>
    </div>
    <div class="row portfolio-container">

      <% users.forEach(user => { %>
        <% if ( user.position === 'client') { %>
           <%- include('user',{someuser:user}); %>
           <% } %>
      <%});%>
    </div>

  </div>
</section>
<script>
  function addNewUser() {
    console.log("here!!!!");
    //container.load('addModal.ejs');

    document.getElementById('addModal').style.display = 'block';
  }
  function onRefreshClick() {
    container = $('#myBody');
    // Load target page into container
    container.load('/users_worker.ejs');

  }


  function registerEvents() {
    document.getElementsByName('editButton').forEach((el) => {
      el.addEventListener('click', (event) => {
        inputUserHtml = (event.target.closest('div').children[2]);//.children[1].innerHTML);
        console.log(inputInformation(inputUserHtml));
        updateModelSelectedUser(inputInformation(inputUserHtml));
        //  debugger

        var c = document.getElementsByTagName("edit")[0];
        document.getElementById('updateWorker').style.display = 'block';
        // inputInformation('name');
      });

      document.getElementsByName('deleteButton').forEach((el) => {
      el.addEventListener('click', (event) => deleteCurrentUser())
    });

    });



  }
  registerEvents();


  function inputInformation(inputUserHtml) {


    //  debugger
     console.log(trimText(inputUserHtml.getElementsByClassName("username")[0]));
    // var someone = (event.target.closest('div').children[3].children[1].innerHTML);

    return { userName: trimText(inputUserHtml.getElementsByClassName("username")[0]),
     firstName: trimText(inputUserHtml.getElementsByClassName("userfirstname")[0]), 
    lastName: trimText(inputUserHtml.getElementsByClassName("userlastname")[0]),
     password: trimText(inputUserHtml.getElementsByClassName("userpassword")[0]),
     position: trimText(inputUserHtml.getElementsByClassName("userposition")[0]),
     status: trimText(inputUserHtml.getElementsByClassName("userstatus")[0]),
     image:trimText(inputUserHtml.getElementsByClassName("userimage")[0])
  }

  }

  function trimText(val) {
    // debugger
    return val.textContent
      .replace(/[\n\r]+|[\s]{2,}/g, ' ').trim();
  }




async function deleteCurrentUser() {

const user = inputInformation(event.target.closest('div').children[2]);//.children[0].innerHTML).trim();

const params = new URLSearchParams();
params.append('username', user.userName);
        params.append('position', user.position );
        params.append('password', user.password);
        params.append('firstName', user.firstName);
        params.append('lastName', user.lastName);
        params.append('image', user.image);
        params.append('status', false);

try {
  let response = await fetch("/users/deleteUser", {
    method: 'post',
    body: params
  });
} catch (error) { console.error('Error ' + error); }
console.log('finished');

}
</script>
<script>onUsersLoad(position)</script>
  </div>
</section>