<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
    <div class="portfolio-wrap">
    
      <figure>
        <img src="<%= someuser.image %>" width="100%" height="100%" alt="">
      </figure>
  
      <div class="portfolio-info">
        <h4><a href="#">
            <%=someuser.firstName%>
          </a></h4>
        <p>
          <%=someuser.position%>
        </p>
  
      </div>
      
      <div id="userInformation" style="display:none;">
        <label class="username">
          <%=someuser.username%>
        </label>
        <label class="userfirstname">
          <%=someuser.firstName%>
        </label>
        <label class="userlastname">
          <%=someuser.lastName%>
        </label>
        <label class="userpassword">
          <%=someuser.password%>
        </label>
        <label class="userposition">
          <%=someuser.position%>
        </label>
        <label class="userstatus">
          <%=someuser.status%>
        </label>
        <label class="userimage">
          <%=someuser.image%>
        </label>
      </div>
      <td>
        <!-- Call to action buttons -->
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <button name="editButton" class="btn btn-success btn-md rounded-0" type="button" data-toggle="tooltip"
              data-placement="top" id="edit" title="Edit"><i class="fa fa-edit"> Edit</i></button>
          </li>
          <li class="list-inline-item">
            <button name="deleteButton" class="btn btn-danger btn-md rounded-0" type="button" data-toggle="tooltip"
              data-placement="top" title="Delete"><i class="fa fa-trash"> Delete</i></button>
          </li>
        </ul>
      </td>
    </div>
  </div>